<button class="btn btn-warning float-right" (click)="openBookModal(content)">add</button>
<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Author</th>
    <th scope="col">Pages</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <ng-template [ngTemplateOutlet]="loadTemplate(book)"
                 [ngTemplateOutletContext]="{ $implicit:book}">
      <!-- Свойство ngTemplateOutletContext для передачи контекста в шаблон. С помощью параметра $implicit задается передаваемый объект. В данном случае это объект book. -->
    </ng-template>
  </tr>
  </tbody>
</table>

<!-- Шаблон для чтения -->
<ng-template #readOnlyTemp let-book>
  <td>{{ book.id }}</td>
  <td>{{ book.name }}</td>
  <td> {{ book.author }}</td>
  <td> {{ book.quantityOfPages }}</td>
  <td>
    <button class="btn btn-info" (click)="updateBook(book)">update</button>
    <button class="btn btn-danger" (click)="deleteBook(book)">del</button>
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemp>
  <td>
    <label>
      <input type="text" [(ngModel)]="editedBook.id" readonly disabled class="form-control" />
    </label>
  </td>
  <td>
    <label>
      <input type="text" [(ngModel)]="editedBook.name" class="form-control" />
    </label>
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="saveBook()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </td>

</ng-template>

<!-- Шаблон добавления книги -->
<!--ng-template #addBookTemp>
  <modal id="addBookModal" class="hhidden">
    Dialog Header
    <button (click)="closeDialog()">Close Dialog</button>
  </modal>
</ng-template-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title">add book</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="addBookFormGroup" (ngSubmit)="onSubmit()">
      <label>name</label>
      <label>
        <input class="form-control" formControlName="name"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('name')">
        Only eng alphabet!
      </div>
      <br/>

      <label>author</label>
      <label>
        <input class="form-control" formControlName="author"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('author')">
        Only eng alphabet!
      </div>
      <br/>
      <label>quantityOfPages</label>
      <label>
        <input class="form-control" formControlName="quantityOfPages"/>
      </label>
      <div class="error" *ngIf="isControlInvalid('quantityOfPages')">
        Age min value is 1!
      </div>
      <br/>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!addBookFormGroup.valid">Save</button>
      </div>

    </form>

  </div>

</ng-template>
